*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: gray;
    align-items: center;
}

.footer{
    margin-top: auto;
    text-align: center;
    color: white;
    background-color: black;
    padding: 8px;
    width: 100vw;
}

a{
    color: white;
    text-decoration: none;
}

.calculator{
    border-radius: 16px;
    padding: 12px;
    width: 360px;
    height: 440px;
    margin-top: 160px;
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:0 1px 1px rgba(0,0,0,1),0 2px 2px rgba(0,0,0,0.8),0 4px 4px rgba(0,0,0,0.6),0 8px 8px rgba(0,0,0,0.4),0 16px 16px rgba(0,0,0,0.2);
}

.screen{
    background-color: white;
    width: 100%;
    height: 50px;
    border-radius: 16px;
    margin: 5px auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
}

.buttons{
    width: 100%;
    height: 300px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    position: relative;
}

button{
    border: none;
    border-radius: 16px;
    box-shadow:0 1px 1px rgba(0,0,0,0.50),0 2px 2px rgba(0,0,0,0.50),0 4px 4px rgba(0,0,0,0.50),0 8px 8px rgba(0,0,0,0.80);
}

.button-AC{
    width: 23%;
    height: 8%;
}

.screen{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5%;
    font-size: 26px;
}

#AC{
    position: absolute;
    width: 23%;
    height: 11%;
    top: -15%;
}